@font-face {
	font-family: "Roboto", sans-serif;
	src: url("./assets/fonts/Roboto-Light.ttf");
}

@font-face {
	font-family: "Roboto-Medium", sans-serif;
	src: url("./assets/fonts/Roboto-Medium.ttf");
}

@font-face {
	font-family: 'Playfair Display', serif;
	src: url("./assets/fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
	font-family: 'Playfair Display', serif;
	src: url("./assets/fonts/Raleway-Thin.ttf");
}


$default-font: "Roboto", sans-serif;
$basic-font:  "Roboto-Light", sans-serif;
$heading-font: 'Playfair Display', serif;
$extra-font: "Raleway", sans-serif;
$main-color:  rgb(247,247,248);
$icon-color:rgb(150, 129, 125);
$basic-color:rgb(246,247,251);
$text-color:  rgb(91, 90, 89);
$hover-color:rgb(77, 55, 50);



@mixin font ($font-size) {
    font-size: $font-size;
    font-family: $default-font;
}


@mixin button ($width, $height) {
    width: $width;
    height: $height;
    min-height: 44px;
    max-height: 105px;

    border: 0;
    border-radius: 15px;

    background-color: $button-color;
    color: rgba(0, 0, 0, 0.7);
    transition-duration: 1s;
}
.headingTwo {
    font: 30px $heading-font;
    border-bottom: 1px solid $hover-color;
    text-align: center;
    color: $text-color;
    padding-bottom: 20px; 
    display: inline-block;
      }
.headingThree {
        font: 20px $heading-font;
      }
.contactmeBtn {
        cursor: pointer;
        font: 14px $basic-font;
        width: 150px;
        background-color:white; 
        border: 1px solid $hover-color;
        padding: 10px 20px; 
        transition: background-color 0.5s ease, color 0.5s ease; 
        margin-top: 20px;
        color: $text-color;
        
        }
.contactmeBtn:hover {
  background-color:$hover-color ; 
  color:white;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
        }
  
.paragraphAboutme {
  font: 18px $basic-font;
  text-align: center;
  line-height: 1.5;
  width: 80%;
}

    @media (max-width: 820px) {
  .headingTwo {
    font: 20px $heading-font;
    padding-top: 10vh;
  }

  .paragraphAboutme {
    font: 16px $basic-font;
    line-height: 1.5;
  }
      }
    