@import "../globals.scss";
/* TwoContainerComponent.css */

.mainContainer {
  display: flex;
  color: $text-color;
  justify-content: center;
  align-items: center;
  padding-top: 6%;

}

.upContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 50vw;
  flex: 1;
  padding-left: 6rem;

}

.downContainer {
  flex: 1;
  width: 50vw;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  padding-left: 7%;

}

.headingTwo {
  animation: slideInRight 1s ease-in-out;
}

.aboutmeImg {
  width: 80%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  animation: slideInLeft 1s ease-in-out;
}

.aboutmeImgSmall {
  position: absolute;
  padding-top: 42vh;
  padding-left: 23vw;
  z-index: 1;
  animation: slideInRight 1s ease-in-out;
}


// freeConsultationBtn uses global styles from globals.scss

// Tablet (iPad) styles - portrait and landscape
@media (min-width: 769px) and (max-width: 1024px) {
  .mainContainer {
    padding: 5% 2rem;
  }

  .upContainer {
    padding: 2rem 3rem;
    width: 50vw;
  }

  .downContainer {
    padding-left: 3%;
    width: 50vw;
  }

  .aboutmeImg {
    width: 85%;
  }

  .aboutmeImgSmall {
    padding-top: 35vh;
    padding-left: 20vw;
    width: 180px;
    height: auto;
  }
}

@media (max-width: 820px) {
  .mainContainer {
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;
    padding: 50px 0 0;
    margin: 0;
    width: 100%;
    max-width: 100vw;
  }

  .headingTwo {
    animation: slideInRight 1s ease-out;
  }

  .aboutmeImg {
    animation: slideInLeftCentered 1s ease-out;
  }

  .aboutmeImgSmall {
    animation: slideInRight 1.4s ease-out;
  }

  .upContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    padding: 2rem 1.5rem 2rem 1.5rem;
    margin-top: 0;
  }

  .upContainer :global(.freeConsultationBtn) {
    margin-bottom: 1rem;
  }

  .spaceBelow {
    margin-bottom: 1rem;
  }

  .downContainer {
    width: 100%;
    height: 50vh;
    padding: 0;
    position: relative;
  }

  .headingTwo {
    font: 22px $heading-font;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .aboutmeImg {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .aboutmeImgSmall {
    display: none;
  }
}

.blank {
  height: 10vh;
  width: 100%;
}