@import "../globals.scss";

.wrapperCard {
  height: auto;
  display: flex;
  color: $text-color;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7%;
  padding-bottom: 3%;


}

.card_container {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.paragraph_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  line-height: 1.7;
  letter-spacing: -0.02em;
}


.modal-container {
  border: none;

}

.headingTwo,
.headingThree {
  -webkit-animation: slideInUp 1s ease-in-out;
  animation: slideInUp 1s ease-in-out;
}


.card_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25vw;
  margin-left: 40px;
  padding: 2vh;
  margin-top: 2vh;
  color: $text-color;
  transition: background-color 0.6s ease;
  min-height: 400px;
}

.card_box_modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30vw;
  border: 0.5px solid $icon-color;
  padding: 8vh;
  margin-left: 25vw;
  margin-top: 20vh;
  color: $text-color;
  transition: background-color 0.6s ease;
  background-color: white;
}

.card_box:hover {
  background-color: rgb(150, 129, 125, 0.1);
}

.card_name {
  display: flex;
  justify-content: flex-start;
  background-size: 20% 100%;
  background-position: left;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}

.card_name_modal {
  display: flex;
  justify-content: flex-start;
  background-position: left;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}

.paragraphCard {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: -0.02em;
  color: $text-primary;
  text-align: left;
  text-align-last: left;
  margin-bottom: 1rem;
  list-style-type: none;
  cursor: pointer;
}

.card_container ul {
  padding: 0;
  margin: 0;
}

.card_btn {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-self: left;
  cursor: pointer;
}

// learnMoreBtn uses global styles from globals.scss

// Tablet (iPad) styles - optimized for both orientations
@media (min-width: 769px) and (max-width: 1024px) {
  .wrapperCard {
    padding: 5% 2rem 3%;
  }

  .card_container {
    width: 85vw;
    gap: 1rem;
  }

  .paragraph_container {
    width: 75vw;
  }

  .card_box {
    width: 28vw;
    margin-left: 0;
    padding: 2rem 1.5rem;
    min-height: 380px;
  }

  .paragraphCard {
    font-size: 0.8rem;
  }
}

// Tablet landscape - wider cards
@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .card_box {
    width: 30vw;
    padding: 2.5rem 2rem;
  }

  .card_container {
    width: 90vw;
  }
}

@media (max-width: 768px) {
  .wrapperCard {
    padding: 50px 1.5rem 0.5rem;
    overflow-x: hidden;
  }

  .paragraph_container {
    font: 12.5px $basic-font;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 2rem;
  }

  .paragraphAboutme {
    margin-bottom: 1.5rem;
  }

  .card_box ul li.paragraphCard {
    font-size: 0.78125rem; // ~12.5px
    text-align: left;
    text-align-last: left;
    list-style: none;
    margin: 0.5rem 0;
  }

  .card_container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 1rem;
    width: 100%;
  }

  .card_box {
    display: flex;
    padding: 1rem 0;
    margin: 0;
    width: 100%;
    min-height: auto;
  }

  .card_box ul {
    margin-top: 1.5rem;
    padding-top: 0;
  }

  .card_name {
    margin-bottom: 0;
  }

  .headingThree {
    margin-bottom: 0;
    margin-top: 0;
  }

  .modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    padding: 2rem 2rem;
    max-width: 85vw;
    width: 85vw;
    max-height: 85vh;
    overflow-y: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  }

  .card_box_modal {
    margin: 0;
    width: 100%;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .card_name_modal {
    background-size: 20% 100%;
    width: 100%;
    text-align: left;
  }

  .card_box_modal li.paragraphCard {
    font-size: 0.78125rem; // ~12.5px
    text-align: left;
    text-align-last: left;
    list-style: none;
    margin: 0.5rem 0;
  }

  .card_btn {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .headingTwo {
    font: 22px $heading-font;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }
}