@import "../../app/components/globals.scss";

.wrapperCard {
  width: 100vw;
  height: auto;
  display: flex;
  color: $text-color;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center;
  padding-top: 5%;
}
.card_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}


.card_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    border: 1px solid $hover-color;
    padding: 10px;
    margin-left: 30px;
    color: $text-color;
    transition: background-color 0.6s ease;
  }
  .card_box:hover {
    background-color:rgb(150, 129, 125, 0.1);; /* Add the background color you want for the hover effect */
  }
  .card_name {
    width: 100%;
    display: flex;
justify-content: center;
align-content: center;
background-image: url(../../app/components/assets/images/SoulLogoServices1.png);
background-size: 30% 100%; 
  background-position: center;
  background-repeat: no-repeat;
  }
  .card_name ul {
    list-style-type: none; 
  }
  .paragraphCard {
    font: 14px $basic-font;
    text-align: center;
    width: 80%;
    line-height: 1.5;
    padding-bottom: 2vh;
    list-style-type: '-';
    cursor: pointer; 

    
  }
  .card_btn {
    width: 100%;
    display: flex;
justify-content: center;
align-content: center; 
  }
  
  .learnMoreBtn
 {
  width: 150px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    background-color:$icon-color;
    color:white;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .learnMoreBtn:hover {
    background-color:$hover-color;
    color: white;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
  }
  .headingThree {
    font: 18px $heading-font;
  }

  @media (max-width: 820px) {
    .wrapperCard {
     padding-top: 0;
    }
    .card_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .card_box {
      margin-top: 1vh;
      width: 70vw;
      align-self: center;
      margin-bottom: 1vh;
     margin-left: 0;
    }
        }

  

  
  