@font-face {
  font-family: "Inter-Light", sans-serif;
  src: url("./assets/fonts/Inter-Light.ttf");
}
@font-face {
  font-family: "Roboto-Medium", sans-serif;
  src: url("./assets/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Plus Jakarta Sans", sans-serif;
  src: url("./assets/fonts/PlusJakartaSans-Regular.ttf");
  font-optical-sizing: auto;
  font-weight: 400;
}
@-webkit-keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
.headingTwo {
  font: 30px "Plus Jakarta Sans", sans-serif;
  text-align: center;
  color: rgb(91, 90, 89);
  display: inline-block;
}

.headingThree {
  font: 20px "Plus Jakarta Sans", sans-serif;
  -webkit-animation: slideInLeft 1s ease-in-out;
          animation: slideInLeft 1s ease-in-out;
}

.freeConsultationBtn {
  cursor: pointer;
  font: 14px rgb(221, 221, 221);
  background-color: rgb(117, 104, 92);
  color: rgb(221, 221, 221);
  width: 200px;
  height: 45px;
  border: none;
  padding: 10px 20px;
  margin-top: 30px;
  text-transform: uppercase;
}

.freeConsultationBtn:hover {
  font: 14px rgb(91, 90, 89);
  background-color: white;
  color: rgb(117, 104, 92);
  border: 1px solid rgb(117, 104, 92);
  transition: background-color 2s ease-out;
}

.paragraphAboutme {
  font: 18px "Roboto-Light", sans-serif;
  text-align: left;
  width: 80%;
  line-height: 1.5;
}

.textContainer {
  width: 100%;
  padding-left: 15%;
}

.learnMoreBtn {
  width: 150px;
  height: 40px;
  font-size: 16px;
  padding: 8px 16px;
  background-color: white;
  color: rgb(91, 90, 89);
  cursor: pointer;
  margin-bottom: 20px;
  border: 0.5px solid rgb(91, 90, 89);
}

.learnMoreBtn:hover {
  background-color: rgb(98, 97, 97);
  color: white;
  transition: background-color 2s ease-out;
  cursor: pointer;
}

@media (max-width: 820px) {
  .headingTwo {
    font: 20px "Plus Jakarta Sans", sans-serif;
    padding-top: 10vh;
  }
  .paragraphAboutme {
    font: 16px "Roboto-Light", sans-serif;
    text-align: center;
  }
  .textContainer {
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.notfound {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/404bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.notfoundcontainer {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.notfoundheading {
  color: rgb(91, 90, 89);
  font-family: "Inter-Light", sans-serif;
  font-size: 20px;
  align-self: center;
  text-align: center;
}

.notfoundlink {
  text-decoration: none;
  color: rgb(117, 104, 92);
  align-self: center;
  font-size: 20px;
}

.notfoundlink:hover {
  color: white;
}

@media (max-width: 810px) {
  .notfound {
    background-image: url("/404bgmobile.jpg");
  }
  .notfoundheading {
    font-size: 16px;
  }
  .notfoundlink {
    font-size: 18px;
  }
}/*# sourceMappingURL=notfound.module.css.map */