@import "../../app/components/globals.scss";

.projectContainer {
    background-color: rgba(130, 116, 103, 0.21);
    color: $text-color;
    padding-top: 7%;
    padding-bottom: 3%;
    text-align: center;   
}

.headingTwo {
    -webkit-animation: slideInUp 1s ease-in-out;
            animation: slideInUp 1s ease-in-out;
            padding-bottom: 2%;
  }
.sliderContainer {
   padding: 0 70px 30px 70px;
}
.sliderImage {
    width: 27vw;
    height: 450px;
    margin-left: 20px;
}

@media (max-width: 820px) {
    .projectContainer {
        padding-top: 0;
        overflow-x: hidden;
    }
    .sliderContainer {
        padding: 0 40px 25px 30px;
     }
    
     .sliderImage {
        width: 100vw;
        margin-left: 0px;
    }
    
}